/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

/* Global font */
body {
    font-family: "Inter", sans-serif;
}

html[dir="rtl"] body {
    font-family: "Cairo", sans-serif;
}

/* RTL Icon Flipping */
html[dir="rtl"] .pi-angle-right,
html[dir="rtl"] .pi-angle-left,
html[dir="rtl"] .pi-chevron-right,
html[dir="rtl"] .pi-chevron-left,
html[dir="rtl"] .pi-arrow-right,
html[dir="rtl"] .pi-arrow-left {
    display: inline-block;
    transform: scaleX(-1);
}

